* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #C1CEFE;
}


/*header > nav {
    display: inline-block;
    height: 100px;
    width:1080px;
    overflow: hidden;
}*/
header img {  
    float: left;
    margin: 18px;
}

h1 {
    color: white;
}

header h1 {
    float: left;
    line-height: 100px;
    height: 100px;
    font-size: 50px;
}

header ul {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    margin: auto 0;
    overflow: auto;
    position: absolute; 
    top: 0;
    right: 0;
    
}

header ul > li {
    float:left;
    margin: auto 0;
    Line-height: 100px;
    height: 100px;
    font-size: 24px;
    border-color:black
}

header a {
    display:inline-block;
    padding: 0 10px;
    height:100px;
}

.stickyHeader + .scroll{
    padding-top: 120px;
}

.stickyHeader{
    position:fixed;
    width: 960px;
    height:100px;
    margin-left: 280px;
    background-color: #67AAF9;
}

main {
    margin-top:10px;
    margin-bottom:20px; 
    margin-left: auto;
    margin-right: auto;
    width:960px;
    align-content: center;
}

main.scroll {
    margin-top:10px;
    margin-bottom:20px; 
    margin-left: auto;
    margin-right: auto;
    width:960px;
    align-content: center;
}

a {
    background-color: #B8336A;
    box-shadow: 5px #904C77;
    color: white;
    position: relative;
    text-decoration: none;
}

a:hover {
    background-color: #9BBDF9;
}
main a{
    margin-top:20px
}

article img{
    float: right;
    margin-right:20px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;  
} 

#about{
    margin-left: 10px;
}

p {
    margin:20px;
} 

.bio {
    float: left;
    margin-top: 75px;
    margin-bottom: auto;
}

.box{
    display: flex;

} 

#images{
    float: right;
}

/*#images:nth-child(3n+1){
    clear:left;
}*/

#flex-grid{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col1{
    flex:1; 
}

.col2{
    flex:2; 
}

.col3{
    flex:3; 
}

 .button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: #904C77;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.btn {
    background-color: #904C77;
    border: none;
    color :white;
    padding: 2px 9px;
    cursor: pointer;
    font-size: 20px;
    margin-top:20px;
    margin-right:30px;
    margin-bottom: 20px;
    text-align: center;
    width: 100px;
    height: 26px;
    overflow: hidden;
}

footer {
    width: 960px;
    height:80px;
    margin-left: auto;
    margin-right: auto;
    width:960px;
    background-color: #67AAF9;
}

footer img {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

#flex-grid canvas{
    width: 320px;
    height: 320px;
    padding: 15px;
}
